* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*header:: header element
  The following code updates the visuals of the top-part of the page 
*/
header 
{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*h1::heading element*/ 
h1 
{
    display: inline-block;
    font-size: 48px;
}

/* .seo:: class selector*/ 
.seo
{
    color: #d9dcd6;
}

/*nav:: nav is an event attribute. The updates the navigation bar (top of webpage)*/ 
nav 
{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

/* ul:: Sematic element used to indicate Unordered List 
        The ul tags will not include any bullet points */ 
ul
{
    list-style-type: none;
}

/* li:: Sematic element used to indicate Unordered List 
   note: inline block allows to set the width and height of an element*/ 
li
{
    display: inline-block;
    margin-left: 25px;
}

/* a:: <a> tag defines a hyerlink
   note: <a> is assigned to the nav-bar elements at the top. 
   The following below makes changes to that.*/
a 
{
    color: #ffffff;
    text-decoration: none;
}

/*
   p:: <p> tag defines a paragraph 
   For every block of code with the <p> tag, the font will be updated
*/ 
p 
{
    font-size: 16px;
}

/*
   hero:: is a class that does the following visual updates below 
*/ 
.hero 
{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*
float-left:: The element will float to the left 
*/ 
.float-left 
{
    float: left;
    margin-right: 25px;
}

/*
float-right:: The element will float to the right
*/ 
.float-right 
{
    float: right;
    margin-left: 25px;
}

/*
  content:: content is a class selector that makes the following changes to 
  the main section of the webpage. (below the navbar/header) 
*/ 
.content 
{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
 
/*.class selector:: eachContent 
    Each block of code assigned to eachContent 
    will default to the following changes below.
    For instance, the background color and margin will update. 
*/ 
.eachContent
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Updates image that is part of the class eachContent*/ 
.eachContent img {
    max-height: 200px;
}

/*Updates h2 that is part of the class eachContent*/ 
.eachContent h2 
{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Updates the format of the webpage footer*/ 
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#bottom_footer
{
    font-size: 20px;
}

/* benefits:: benefits is a class selector. The following code below 
   makes updates to the visual presentation of the side-bar. 
*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* benefits display:: benefits display is a class selector. The following code below 
   makes updates to the visual presentation of the side-bar. 
*/
.benefit-display
{
    margin-bottom: 32px;
    color: #ffffff;
}

/* benefits-display h3:: benefits-display is a class selector as stated above 
   and h3 is parts of this class. The h3 that is part of this class and the visual of the webpage is updated. 
   (The sidebar componenets are assigned to this) 
*/
.benefit-display h3
{
    margin-bottom: 10px;
    text-align: center;
}

/* benefits-display h3:: benefits-display is a class selector as stated before.
   The img that is part of this class and the visual of the webpage is updated. 
   (The sidebar componenets are assigned to this) 
 
*/
.benefit-display img
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


